<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GesStokage"
            connectionString="Data Source=tcp:301P13,49172\SQLEXPRESS;Initial Catalog=GSB_Stokage;User ID=ZERRAI"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>